
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

$APP_MENU_H:60px;
$LINE_COLOR:grey;
$BLUE:rgb(51, 102, 153);

$FONT_SIZE_REGULAR:13px;


@import "bourbon";
@import "font-awesome";

*{
	padding:0;margin:0;
	position:relative;
	font-family:"Microsoft Yahei";
	//font-family:"Open Sans";
}

a{
	color:rgb(51, 102, 153);
	text-decoration: none;
}

img{margin-bottom:-4px;}

body{
	//position:fixed;
	background-color:#222222;
	width:100%;height:100%;
}


.node {
  stroke: #fff;
  stroke-width: 0px;
  //box-shadow:0 0 3px blue;
  //filter: url(#f1);
}

.link {
  stroke: #999;
  stroke:rgba(102, 153, 255,0.4);
  //stroke-opacity: .6;
}


.appMenu{
	position:fixed;
	top:0;left:0;
	height:$APP_MENU_H;
	width:100%;
	background-color:#111111;
	z-index:90;

	h1{
		margin-top:10px;
		text-align:center;
		font-size:24px;color:white;font-weight:thin;
		text-shadow:0 0 180px rgb(51, 102, 153);
	}

	h2{
		margin-top:-3px;
		font-size:12px;color:grey;font-weight:normal;
	}

	.myPanel{
		position:absolute;
		top:0;right:0;
		width:300px;height:100%;

		.myPanelButton{
			padding:12px;

			&:hover{
				cursor:pointer;
				background-color:black;
			}
		}

		.myProfileImg{

			img{
				width:30px;height:30px;
			}
		}

		i{
			margin-top:3px;
			text-align:center;
			font-size:21px;color:grey;font-weight:normal;
		}
	}
}

.appBody{
	//position:fixed;
	width:100%;
	padding-top:$APP_MENU_H;
}

.base{
	width:100%;
	min-height:100%;
}

.entranceSection{
	width:100%;
	padding:15px 0;

	//min-height:300px;
	background-color:rgba(0,0,0,0.1);
	margin-bottom:12px;
	background-color:white;
	background-color:#111111;
	@include calc(marginBottom,"0 - #{$APP_MENU_H}");

	.entranceWrapper{

		margin:0 auto;
		width:420px;
	}

	.entranceNavWrapper{

		.entranceNav{
			padding:6px;
			border-bottom:transparent solid 2px;
			color:grey;

			h1{
				font-size:14px;font-weight:bold;
			}

			&:hover{
				cursor:pointer;
				background-color:#333333;
			}
		}

		.selected{
			color:white;

			border-bottom:rgb(51, 102, 153) solid 2px;
		}
	}

	.entranceTitle{
		h1{
			font-size:16px;color:white;font-weight:normal;
		}
	}


	form{
		background-color:rgba(0,0,0,0.1);

		.inputLable{
			margin-top:9px;
			margin-bottom:3px;
			font-size:13px;color:grey;font-weight:normal;
		}

		input{
			@include calc(width,"100% - 18px");
			padding:6px 9px;
			font-size:14px;color:black;
			border:none;
			border-bottom:transparent;
			border-radius:2px;
			font-weight:bold;


			&:focus{
				border:none;
				//border-bottom:$LINE_COLOR solid 1px;
			}
		}


		.errMsgs{
			@include align-items(flex-start);

			.errMsg{
				background-color:red;
				color:white;
				margin:3px 12px;
				padding:3px;
			}
		}
	}
}


.submitButton{
	text-align:center;
	margin:9px 0;
	width:100px;
	max-width:100px;
	padding:6px 12px;

	background-color:rgb(51, 102, 153);
	border-radius:2px;
	border:rgb(56, 107, 158) solid 1px;
	font-size:14px;color:white;font-weight:bold;
	@include align-self(flex-end);

	&:hover{
		cursor:pointer;
		background-color:rgb(61, 112, 163);
	}
}

.timeline{
	margin:0 auto;
	width:520px;
	//height:120%;
	padding-bottom:360px;

	.feedSelectorWrapper{
		margin-bottom:12px;
		border-bottom:grey solid 2px;

		.feedSelector{
			padding:6px;
			margin-bottom:-2px;
			border-bottom:transparent solid 2px;

			h1{
				font-size:13px;color:grey;font-weight:bold;
			}

			&:hover{
				cursor:pointer;
				background-color:#333333;
				border-bottom:$BLUE solid 2px;
			}
		}

		.selected{
			cursor:pointer;
			border-bottom:$BLUE solid 2px;
		}
	}
}

.timelinePost{
	@include calc(width,"100% - 24px");
	padding:12px;
	margin-bottom:12px;
	background-color:white;
	border-radius:2px;

	.underlineBackground{
		position:absolute;
		z-index:0;
		top:0;left:0;
		width:100%;height:100%;
		border-radius:2px;
	}

	.postPublisher{
		border-bottom:grey solid 1px;
		padding-bottom:6px;

		.profileImg{
			margin-right:12px;

			img{
				width:32px;height:32px;
				border:grey solid 1px;
				border-radius:1px;
			}
		}

		h1{
			margin:0;
			font-size:13px;color:#333333;font-weight:bold;
		}

		h2{
			font-size:11px;color:grey;font-weight:normal;
		}
	}

	.postAuthor{
		padding-top:6px;

		.profileImg{
			margin-right:12px;

			img{
				width:52px;height:52px;
				border:grey solid 1px;
				border-radius:1px;
			}
		}

		h1{
			margin:0;
			font-size:16px;color:#333333;font-weight:bold;
		}

		h2{
			font-size:11px;color:grey;font-weight:normal;
		}
	}

	.postTitle{
		padding:9px 0;

		h1{
			font-size:16px;color:#333333;font-weight:bold;
		}
	}

	.postContentPreview{
		//height:300px;
		background-color:#DDDDDD;
		//border-top:grey solid 1px;
		// border-left:grey solid 1px;
		// border-right:grey solid 1px;
	}

	.previewParagraph{
		padding:0 12px;
		max-height:118px;
		overflow:hidden;

		.readMore{
			width:100%;
			height:20px;
			background-color:rgba(255,255,255,0.95);
			z-index:10;

			h1{
				font-size:13px;color:grey;font-weight:normal;
			}
		}

		p{
			margin-top:-18px;
			white-space:pre-line;
			font-size:14px;color:#555555;font-weight:normal;
		}
	}

	.postContentImg{
		margin:auto;
		position:relative;
		width:150px;height:150px;
		overflow:hidden;

		img{
			position:relative;
			height:100%;
			width:auto;
			margin:0 auto;
		}
	}
}

.postCreation{
	background-color:white;
	margin:12px 0;
	border-radius:2px;

	form{

		input{
			@include calc(width,"100% - 24px");
			padding:6px 12px;
			font-size:14px;color:black;
			border:none;
			border-bottom:transparent;
			border-bottom:grey solid 1px;

			&:focus{
				border:none;
				border-bottom:$LINE_COLOR solid 1px;
			}
		}

		textarea{
			@include calc(width,"100% - 24px");
			padding:6px 12px;
			font-size:14px;color:black;
			border:none;
			min-height:120px;
			border-bottom:transparent;
			resize:vertical;

			&:focus{
				border:none;
				border-bottom:$LINE_COLOR solid 1px;
			}
		}
	}
}

.detailPostBase{
	position:fixed;
	top:0;left:0;
	width:100%;
	background-color:rgba(0,0,0,0.5);
	z-index:99;
	@include align-items(strech);

	.detailPostBackground{
	}
}

.detailPost{
	margin:72px auto 36px auto;
	width:720px;
	border-radius:3px;
	z-index:99;
	border:grey solid 1px;
	@include align-self(flex-start);

	.influenceChart{
		position:absolute;
		right:0;bottom:0;
		height:100%;width:50%;

		detail-post-influence-chart{
			width:100%;height:100%;
		}
	}

	.detailPostHead{
		padding-bottom:9px;
		width:100%;
		background-color:black;

		.postTitle{
			padding:18px 275px 18px 18px;

			h1{
				font-size:21px;color:#EEE;font-weight:bold;
			}

		}

		.detailPostAuthor{
			padding:9px 18px;

			.profileImg{

				img{
					width:50px;height:50px;
				}
			}

			.authorInfo{
				padding:0 0 0 0;

				h1{
					margin-left:18px;
					font-size:16px;color:white;font-weight:bold;
				}

				h2{
					margin-left:18px;
					font-size:12px;color:grey;font-weight:normal;
				}
			}
		}
	}

	.detailPostPublisher{
		padding:9px 0;
		margin:0 18px;
		border-top:grey solid 1px;
		@include align-self(flex-start);


		.profileImg{
			margin-right:12px;

			img{
				width:24px;height:24px;
				border-radius:1px;
			}
		}

		.publishInfo{

			h1{
				margin-top:3px;
				font-size:12px;font-weight:normal;color:grey;
			}

			i{
				color:$BLUE;
			}
		}
	}

	.detailPostMain{

		width:100%;
		background-color:white;

		.paragraph{
			padding:18px;

			p{
				//margin-top:-26px;
				white-space:pre-line;
				line-height:26px;
				font-size:16px;color:#333333;font-weight:normal;
			}
		}
	}

	.detailPostFoot{
		width:100%;
		background-color:#111111;


		.relationshipUpdate{
			border-right:grey solid 1px;

			.authorProfileImg{
				margin:0 auto;
				margin-top:18px;
			
				img{
					width:50px;height:50px;
				}
			}

			.authorName{
				padding:6px;

				h1{
					font-size:13px;color:grey;font-weight:normal;
				}
			}
		}

		.spreadInfluence{
			height:180px;

			.share{
				margin:0 auto;
				margin-top:36px;

				.icon{
					margin-top:24px;
					width:18px;height:18px;
					border:rgb(0, 153, 255) solid 2px;
					border-radius:50%;
					box-shadow:0 0 9px rgb(0, 153, 255);

					h1{
						margin-left:-3px;
						text-align:center;
						margin-top:0;
						font-size:14px;color:white;font-weight:bold;
						opacity:0;
					}

					&:hover{
						margin-top:0px;
						margin-bottom:-24px;
						width:68px;height:68px;
						cursor:pointer;
						border:white solid 1px;
						box-shadow:0 0 90px rgb(0, 153, 255);

						h1{
							margin-left:0;
							text-align:center;
							margin-top:24px;
							opacity:1;
						}
					}
				}

				.sharing{

					margin-top:-9px;
					margin-bottom:-33px;
					width:68px;height:68px;
					cursor:pointer;
					border:white solid 1px;
					box-shadow:0 0 90px rgb(0, 153, 255);

					h1{
						margin-left:0;
						text-align:center;
						margin-top:24px;
						opacity:1;
					}
				}

				.shared{

					margin-top:0px;
					margin-bottom:-24px;
					width:68px;height:68px;
					cursor:pointer;
					border:rgb(0, 153, 255) solid 1px;
					box-shadow:0 0 90px rgb(0, 153, 255);

					h1{
						margin-left:0;
						text-align:center;
						margin-top:24px;
						opacity:1;
					}
				}
			}

			.socialMedia{
				position:absolute;
				bottom:0;left:0;
				width:100%;
				padding:18px 0;

				h1{
					font-size:13px;color:grey;font-weight:normal;
				}

				.socialMediaIcon{
					padding:3px;

					i{
						font-size:13px;color:grey;
					}
				}
			}
		}
	}
}


.unfollowButton{
	margin:0px auto 18px auto;
	padding:3px 9px;
	border-radius:2px;
	background-color:#333333;
	font-size:13px;color:grey;

	&:hover{
		cursor:pointer;
		background-color:$BLUE;
		color:white;
	}
}

.followButton{
	margin:9px auto;
	padding:3px 9px;
	border-radius:2px;
	background-color:#333333;
	font-size:13px;color:grey;

	&:hover{
		cursor:pointer;
		background-color:$BLUE;
		color:white;
	}
}

.userpage{

	.userpageHead{
		width:100%;
		height:260px;
		padding:0 0 0 0;
		background-color:#222222;

		.userpageNavWrapper{
			margin-top:18px;
			background-color:#333333;

			.userpageNav{
				padding:6px 18px;

				h1{

					font-size:14px;color:grey;font-weight:bold;
				}
			}
		}
	}

	.userpageBody{
		padding-top:30px;
	}

	.centerColumn{
		width:842px;
		margin:0 auto;
	}

	.userProfile{

		.profileImg{

			img{
				width:100px;height:100px;
			}
		}

		.userInfo{
			padding-left:18px;

			h1{
				font-size:21px;color:white;font-weight:normal;
			}

			h2{
				font-size:14px;color:grey;font-weight:normal;
			}

			p{
				font-size:14px;color:grey;font-weight:normal;
			}
		}
	}
}


.userWrapper{
	margin:0 auto;
	width:520px;
}

.userRow{
	width:100%;
	padding:18px 0;
	border-bottom:grey solid 1px;

	.profileImg{

		img{
			width:72px;height:72px;
			border-radius:2px;
		}
	}

	.userInfo{
		padding-left:18px;

		h1{
			font-size:16px;color:white;
		}

		h2{
			font-size:14px;color:grey;
		}
	}

	.relationshipStatusButton{
		padding:6px 12px;
		font-size:14px;color:white;font-weight:normal;
		background-color:rgb(51, 102, 153);
		border-radius:2px;
		border:rgb(56, 107, 158) solid 1px;
		font-size:14px;color:white;

		&:hover{
			cursor:pointer;
			background-color:rgb(61, 112, 163);
		}
	}
}

.settingsWrapper{
	margin:0 auto;
	width:720px;
	height:720px;
	background-color:white;

	h1{
		text-align:center;
		font-size:14px;color:grey;
	}
	h2{
		text-align:center;
		font-size:14px;color:grey;
	}

	form{
		margin:0 auto;
		width:360px;

		input{
			margin:9px;
			background-color:#EEE;
		}
	}

	.profileImgWrapper{
		margin:0 auto;
		margin-top:36px;

		img{
			width:200px;height:200px;
		}
	}
}