
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

$APP_MENU_H:72px;
$LINE_COLOR:grey;

$FONT_SIZE_REGULAR:13px;


@import "bourbon";
@import "font-awesome";

*{
	position:relative;
	font-family:"Microsoft Yahei";
	//font-family:"Open Sans";
}

img{margin-bottom:-4px;}

body{
	background-color:#222222;
	width:100%;height:100;
}


.node {
  stroke: #fff;
  stroke-width: 0px;
  //box-shadow:0 0 3px blue;
  //filter: url(#f1);
}

.link {
  stroke: #999;
  stroke:rgba(102, 153, 255,0.4);
  //stroke-opacity: .6;
}


.appMenu{
	position:fixed;
	top:0;left:0;
	height:$APP_MENU_H;
	width:100%;
	///border-bottom:$LINE_COLOR solid 1px;
	background-color:#111111;
	z-index:90;

	h1{
		margin-top:24px;
		text-align:center;
		font-size:24px;color:white;font-weight:think;
	}
}

.appBody{
	position:fixed;
	width:100%;
	height:100%;
	padding-top:$APP_MENU_H;
}

.entranceSection{
	width:100%;
	padding:15px 0;

	min-height:300px;
	margin:15px 0;
	background-color:rgba(0,0,0,0.1);
	margin-bottom:12px;
	background-color:white;


	form{
		background-color:rgba(0,0,0,0.1);

		.inputLable{
			margin-left:12px;
			margin-top:6px;
			font-size:12px;color:grey;font-weight:normal;
		}

		input{
			@include calc(width,"100% - 24px");
			padding:6px 12px;
			font-size:14px;color:black;
			border:none;
			border-bottom:transparent;


			&:focus{
				border:none;
				border-bottom:$LINE_COLOR solid 1px;
			}
		}


		.errMsgs{
			@include align-items(flex-start);

			.errMsg{
				background-color:red;
				color:white;
				margin:3px 12px;
				padding:3px;
			}
		}
	}
}


.submitButton{
	text-align:center;
	margin:6px 12px;
	width:100px;
	max-width:100px;
	padding:6px 12px;

	background-color:green;
	font-size:14px;color:white;font-weight:bold;
}

.timeline{
	margin:0 auto;
	width:520px;
	//height:120%;
	padding-bottom:360px;
}

.timelinePost{
	@include calc(width,"100% - 24px");
	padding:12px;
	margin-bottom:12px;
	background-color:rgba(100,100,100,0.1);
	background-color:white;
	border-radius:2px;

	.underlineBackground{
		position:absolute;
		z-index:0;
		top:0;left:0;
		width:100%;height:100%;
		border-radius:2px;
		// background:
		// 	-webkit-linear-gradient(45deg, hsla(196, 24%, 100%, 1) 0%, hsla(196, 24%, 100%, 0) 70%),
		// 	-webkit-linear-gradient(315deg, hsla(200, 21%, 100%, 1) 10%, hsla(200, 21%, 100%, 0) 80%),
		// 	-webkit-linear-gradient(225deg, hsla(189, 19%, 72%, 1) 10%, hsla(189, 19%, 72%, 0) 80%),
		// 	-webkit-linear-gradient(135deg, hsla(200, 9%, 55%, 1) 100%, hsla(200, 9%, 55%, 0) 70%);
		// background:
		// 	linear-gradient(45deg, hsla(196, 24%, 100%, 1) 0%, hsla(196, 24%, 100%, 0) 70%),
		// 	linear-gradient(135deg, hsla(200, 21%, 100%, 1) 10%, hsla(200, 21%, 100%, 0) 80%),
		// 	linear-gradient(225deg, hsla(189, 19%, 72%, 1) 10%, hsla(189, 19%, 72%, 0) 80%),
		// 	linear-gradient(315deg, hsla(200, 9%, 55%, 1) 100%, hsla(200, 9%, 55%, 0) 70%);
		
	}

	.postPublisher{
		border-bottom:grey solid 1px;


		.profileImg{
			margin-right:12px;

			img{
				width:36px;height:36px;
				border:grey solid 1px;
				border-radius:1px;
			}
		}

		h1{
			margin:0;
			font-size:14px;color:#333333;font-weight:bold;
		}

		h2{
			font-size:11px;color:grey;font-weight:normal;
		}
	}

	.postAuthor{
		padding-top:6px;

		.profileImg{
			margin-right:12px;

			img{
				width:50px;height:50px;
				border:grey solid 1px;
				border-radius:1px;
			}
		}

		h1{
			margin:0;
			font-size:15px;color:#333333;font-weight:bold;
		}

		h2{
			font-size:11px;color:grey;font-weight:normal;
		}
	}

	.postTitle{

		h1{
			font-size:16px;color:#333333;font-weight:bold;
		}
	}

	.postContentPreview{
		height:300px;
		background-color:#DDDDDD;
		border-top:grey solid 1px;
		border-left:grey solid 1px;
		border-right:grey solid 1px;
	}

	.previewParagraph{
		padding:0 12px;

		p{
			font-size:14px;color:#555555;font-weight:normal;
		}
	}

	.postContentImg{
		margin:auto;
		position:relative;
		width:150px;height:150px;
		overflow:hidden;

		img{
			position:relative;
			height:100%;
			width:auto;
			margin:0 auto;
		}
	}
}

.postCreation{
	height:400px;
	background-color:grey;
	margin:12px 0;
	border-radius:2px;

	form{

		input{
			@include calc(width,"100% - 24px");
			padding:6px 12px;
			font-size:14px;color:black;
			border:none;
			border-bottom:transparent;

			&:focus{
				border:none;
				border-bottom:$LINE_COLOR solid 1px;
			}
		}

		textarea{
			@include calc(width,"100% - 24px");
			padding:6px 12px;
			font-size:14px;color:black;
			border:none;
			border-bottom:transparent;

			&:focus{
				border:none;
				border-bottom:$LINE_COLOR solid 1px;
			}
		}
	}
}

.detailPostBase{
	position:fixed;
	top:0;left:0;
	width:100%;
	background-color:rgba(0,0,0,0.5);
	z-index:99;
	@include align-items(strech);

	.detailPostBackground{
	}
}

.detailPost{
	margin:72px auto 36px auto;
	width:720px;
	border-radius:3px;
	z-index:99;
	border:grey solid 1px;

	.influenceChart{
		position:absolute;
		right:0;bottom:0;
		height:100%;width:50%;
		border-left:grey solid 1px;

		detail-post-influence-chart{
			width:100%;height:100%;
		}
	}

	.detailPostHead{
		//height:444px;
		width:100%;
		background-color:black;

		.postTitle{
			padding:18px 275px 18px 18px;

			h1{

				font-size:21px;color:#EEE;font-weight:bold;
			}
		}

		.detailPostAuthor{
			padding:9px 18px;

			.profileImg{

				img{
					width:50px;height:50px;
				}
			}

			.authorInfo{
				padding:0 0 0 0;

				h1{
					margin-left:18px;
					font-size:16px;color:white;font-weight:bold;
				}
			}
		}
	}

	.detailPostPublisher{
		padding:9px 0;
		width:64%;
		margin:0 18px;
		border-top:grey solid 1px;

		.profileImg{
			margin-right:12px;

			img{
				width:24px;height:24px;
				border-radius:1px;
			}
		}

		.publishInfo{

			h1{
				margin-top:3px;
				font-size:13px;font-weight:normal;color:grey;
			}
		}
	}

	.detailPostMain{

		width:100%;
		background-color:white;

		.paragraph{
			padding:18px;

			p{
				line-height:26px;
				font-size:16px;color:#333333;font-weight:normal;
			}
		}
	}

	.detailPostFoot{
		width:100%;
		background-color:#111111;


		.relationshipUpdate{
			border-right:grey solid 1px;

			.authorProfileImg{
				margin:0 auto;
				margin-top:18px;
			
				img{
					width:50px;height:50px;
				}
			}

			.unfollowButton{
				margin:9px auto;
				padding:3px 9px;
				border-radius:2px;
				background-color:#333333;
				font-size:13px;color:grey;
			}

			.followButton{
				margin:9px auto;
				padding:3px 9px;
				border-radius:2px;
				background-color:#333333;
				font-size:13px;color:grey;
			}
		}

		.spreadInfluence{

			.share{
				margin:0 auto;
				margin-top:18px;

				.icon{
					width:18px;height:18px;
					border:rgb(0, 153, 255) solid 2px;
					border-radius:50%;
					box-shadow:0 0 9px rgb(0, 153, 255);

					&:hover{
						cursor:pointer;
						border:white solid 2px;
						box-shadow:0 0 90px rgb(0, 153, 255);
					}
				}
			}

			.socialMedia{
				padding:18px;

				h1{
					font-size:13px;color:grey;font-weight:normal;
				}

				.socialMediaIcon{
					padding:3px;

					i{
						font-size:13px;color:grey;
					}
				}
			}
		}
	}
}